<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>kraken</servlet-name>
        <servlet-class>org.ifsoft.ohun.kraken.Proxy</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>kraken</servlet-name>
        <url-pattern>/kraken</url-pattern>
    </servlet-mapping>     

    <filter>
        <filter-name>RedirectFilter</filter-name>
        <filter-class>org.ifsoft.ohun.RedirectFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RedirectFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>    
</web-app>
